* {
    box-sizing: border-box;
    margin: 0;
}
body {
    text-align: center;
    font-family: sans-serif;
    margin: auto;
}
header {
    display: flex;
    width: 100%;
    height: 100px;
}
header a {
    text-decoration: none;
    color: rgb(253, 203, 70);
}
input {
    height: 25px;
    width: 100%;
}
h2 {
    font-size: 3.4em;
    font-weight: 600;
    margin: auto;
}
h3 {
    margin: auto;
    font-size: 2em;
    font-weight: 500;
}
h4 {
    margin: auto;
    font-size: 2.7em;
    font-weight: 500;
}
.menus div {
    margin: 50px 10px 20px 10px;
}
.menus img {
    width: 300px;
    height: auto;
    margin: auto;
    box-shadow: 1px 1px 15px rgb(190,190,190);
}
.line {
    margin: 0;
    width: auto;
    overflow: hidden;
    padding: 0;
}
.line img {
    width: 280px;
    height: 30px;
    margin: auto;
    overflow: hidden;
    display: none;
}
.menu_end {
    width: 250px;
    margin: auto;
}
.menu_end img{
    width: 250px;
}
footer h3 {
    font-size: 2em;
}
footer a {
    text-decoration: none;
    color: rgb(253, 203, 70);
    margin: auto;
}
footer h3:hover {
    animation: wiggle 300ms;
    animation-iteration-count: infinite;
}
@keyframes wiggle {
    0% { transform: translate(10px); }
    50% { transform: translate(-10px); }
    100% { transform: translate(10px); }
  }
.text {
    color: rgb(253, 203, 70);
    background-color: rgb(87, 156, 135);
}
.bloc_text {
    color: rgb(253, 203, 70);
    background-color: rgb(87, 156, 135);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.bloc_text h3 {
    display: block;
}
.bloc_animation {
    margin-top: 10px;
    display: block;
}
.bloc_animation div {
    width: 15px;
    height: 15px;
    background-color: rgb(253, 203, 70);
    margin: auto;
    display: inline-block;
    border-radius: 50%;
}
@keyframes bounce {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
  }
.animation_1{
    animation: bounce 1s;
    animation-iteration-count: infinite;
}
.animation_2{
    animation: bounce 1s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
}
.animation_3{
    animation: bounce 1s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
}
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.note {
    text-align: center;
}
section div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
span {
    margin: auto;
    font-weight: 700;
}
.gauche {
    background-color: red;
    width: 30%
}
p {
    text-align: left;
    margin-right: 20px;
    width: 350px;
}
.menu_1 {
    text-align: center;
    font-family: 'Segoe print';
    background-color: rgb(252,223,219);
    margin: auto;
}
.note_music span{
    margin-top: 80px;
}
.menu_2 {
    text-align: center;
    margin: auto;
    background-color: #fff5fe;
}
.menu_3 {
    text-align: center;
    margin: auto;
    background-color: #edefef;
    font-family: 'Segoe print';
}
.menu_4 {
    text-align: center;
    margin: auto;
    background-color: #fdfffd;
    font-family: 'Segoe print';
}
section {
    margin: 20px auto 50px auto;
    padding: 0 15px 0 15px;
}
.price {
    float: right;
    margin-right: 0;
}
.title {
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: 700;
    margin: auto;
}
.title:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: black;
    transition: 500ms;
}
.title:hover:after {
    width: 100%;
}
.menu_title img{
    margin-top: 50px;
    width: 300px;
}
main {
    width: 320px;
}
main h3 {
    display: none;
}
.mentions p{
    text-align: center;
    width: auto;
    margin: 0;
}
article:last-child {
    padding-bottom: 20px;
}
@media only screen and (min-width: 820px){

    body {
        min-width: 820px;
    }
    header {
        height: 150px;
        font-size: 2em;
    }
    .menus div {
        width: 420px;
        overflow: hidden;
        display: inline-block;
        margin: 50px 50px 20px 50px;
        box-shadow: 0px 0px 30px rgb(190,190,190);
    }
    .menus img {
        overflow: hidden;
        width: 420px;
        height: auto;
    }
    .menus div img {
        transform-origin: center;
        transition: transform .50s, visibility .50s ease-in-out;
    }
    .menus div:hover img {
        transform: scale(1.3);
        opacity: 0.6;
    }
    .bloc_text {
        width: 50%;
        height: 120px;
        margin-top: 75px;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    p {
        width: 100%;
    }
    h4 {
        font-size: 4.5em;
    }
    footer {
        margin-top: 50px;
    }
    .footer_left {
        margin-left: 40px;
    }
    .footer_right {
        margin-right: 40px;
    }
    .line img {
        display: block;
    }
    main {
        margin: auto;
        width: 95%
    }
    main h3 {
        display: block;
        margin: 50px 0 20px 0;
        font-size: 4em;
        font-weight: 500;
    }
    article {
        width: 70%;
        margin: auto;
    }
    .mentions p{
        text-align: center;
        width: auto;
        margin: 0;
    }
    .menu_1 h4 {
        padding-top: 0;
    }
    section div {
        width: 80%;
        margin: auto;
        padding: 50px 0 0 0;
        line-height: 3;
    }
    .bloc_text h3 {
        font-size: 2.2em;
        margin: 0;
    }
    .bloc_animation {
        padding: 20px 0 0 0;
        line-height: 0;
        display: block;
    }
    .bloc_animation div {
        padding: 0;
    }
    .menu_title img{
        margin-top: 50px;
        width: 500px;
    }
    .title_menu {
        width: 95%;
        margin: auto;
    }
    .line img {
        width: 300px;
        height: 30px;
        margin: auto;
        overflow: hidden;
    }
    footer h3 {
        font-size: 3em;
    }
}