* {
    box-sizing: border-box;
    margin: 0;
}
body {
    text-align: center;
    font-family: sans-serif;
    margin: auto;
}
.header {
    display: flex;
    width: 100%;
    height: 100px;
    color: rgb(253, 203, 70);
    background-color: rgb(87, 156, 135);
}
.header a {
    text-decoration: none;
    color: rgb(253, 203, 70);
}
.recherche {
    width: 100%;
    height: 50px;
    background-color: lightgray;
}
.recherche div {
    display: flex;
    float: left;
    height: 100%;
    margin: auto;
    padding-left: 10px;;
}
h1 {
    font-size: 3.4em;
    font-weight: 600;
    margin: auto;
}
h2 {
    margin: auto;
    font-size: 2em;
    font-weight: 500;
}
h3 {
    margin: auto;
    font-size: 2.7em;
    font-weight: 500;
}
.menus div {
    height: 420px;
    margin: 50px 10px 20px 10px;
    box-shadow: 0px 0px 30px rgb(190,190,190);
    overflow: hidden;
}
.menus img {
    width: 300px;
    margin: auto;
}
.line {
    margin: 0;
    width: auto;
    overflow: hidden;
    padding: 0;
}
.line img {
    width: 280px;
    height: 30px;
    margin: auto;
    overflow: hidden;
    display: none;
}
.menu_end {
    width: 250px;
    margin: auto;
}
.menu_end img{
    width: 250px;
}
.text {
    color: rgb(253, 203, 70);
    background-color: rgb(87, 156, 135);
}
.bloc_text {
    color: rgb(253, 203, 70);
    background-color: rgb(87, 156, 135);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.bloc_text h2 {
    display: block;
}
.bloc_animation {
    margin-top: 10px;
    display: block;
}
.bloc_animation div {
    width: 15px;
    height: 15px;
    background-color: rgb(253, 203, 70);
    margin: auto;
    display: inline-block;
    border-radius: 50%;
}
section div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
span {
    margin: auto;
    font-weight: 700;
}
p {
    text-align: left;
    margin-right: 20px;
    width: 350px;
}
.menu_1 {
    text-align: center;
    font-family: 'Segoe print';
    background-color: rgb(252,223,219);
    margin: auto;
}
.note_music span{
    margin-top: 80px;
}
.menu_2 {
    text-align: center;
    margin: auto;
    background-color: #fff5fe;
}
.menu_3 {
    text-align: center;
    margin: auto;
    background-color: #edefef;
    font-family: 'Segoe print';
}
.menu_4 {
    text-align: center;
    margin: auto;
    background-color: #fdfffd;
    font-family: 'Segoe print';
}
section {
    margin: 20px auto 50px auto;
    padding: 0 15px 0 15px;
}
.price {
    float: right;
    margin-right: 0;
}
.title {
    line-height: 1.5;
    font-size: 1.4em;
    font-weight: 700;
    margin: auto;
}
.menu_title img{
    margin-top: 50px;
    width: 300px;
}
.entree {
    font-size: 22px;
    color: rgb(198,116,18);
}
.entree h3{
    line-height: 1.5;
    font-size: 25px;
    font-weight: 700;
    margin: auto;
}
.entree span{
    font-weight: normal;
}
.plat {
    font-size: 22px;
    color: rgb(165,103,153);
}
.plat h3{
    line-height: 1.5;
    font-size: 25px;
    font-weight: 700;
    margin: auto;
}
.plat span{
    font-weight: normal;
}
.dessert {
    font-size: 22px;
    color: rgb(110,76,204);
}
.dessert h3{
    line-height: 1.5;
    font-size: 25px;
    font-weight: 700;
    margin: auto;
}
.dessert span{
    font-weight: normal;
}
main {
    width: 320px;
    margin: auto;
}
main h2 {
    display: none;
}
.mentions p{
    text-align: center;
    width: auto;
    margin: 0;
}
.mentions h2 {
    display: block;
    padding: 10px 0 10px 0;
}
article:last-child {
    padding-bottom: 20px;
}
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: rgb(253, 203, 70);
    margin: auto;
}
footer h2 {
    font-size: 2em;
}

/* Animations */

/* Animation zoom menu*/
.menus div img {
    transform-origin: center;
    transition: transform .50s, visibility .50s ease-in-out;
}
.menus div:hover img {
    transform: scale(1.3);
    opacity: 0.6;
}
/* Animation zoom menu END */

/* Animations prochainement */
@keyframes bounce {
    0% { transform: translateY(0px); }
    25% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    75% { transform: translateY(0px); }
    100% { transform: translateY(0px); }
  }
.animation_1{
    animation: bounce 1.5s;
    animation-iteration-count: infinite;
}
.animation_2{
    animation: bounce 1.5s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
}
.animation_3{
    animation: bounce 1.5s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
} 
/* Animation prochainement END */

/* Animation footer */
@keyframes wiggle {
    0% { transform: translate(10px); }
    50% { transform: translate(-10px); }
    100% { transform: translate(10px); }
}
footer h2:hover {
    animation: wiggle 300ms;
    animation-iteration-count: infinite;
}
/* Animation footer END */

/* Animation soulignement */
.title:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: black;
    transition: 500ms;
}
.title:hover:after {
    width: 100%;
}
.title1:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: rgb(198,116,18);
    transition: 500ms;
}
.title1:hover:after {
    width: 100%;
}
.title2:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: rgb(165,103,153);
    transition: 500ms;
}
.title2:hover:after {
    width: 100%;
}
.title3:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: rgb(110,76,204);
    transition: 500ms;
}
.title3:hover:after {
    width: 100%;
}
/* Animation soulignement */

/*Fin animations */

@media only screen and (min-width: 820px){
    body {
        min-width: 820px;
    }
    .header {
        height: 150px;
        font-size: 2em;
    }
    .menus {
        max-width: 1400px;
        margin: auto;
    }
    .menus div {
        width: 420px;
        height: 590px;
        display: inline-block;
        margin: 50px 50px 20px 50px;
    }
    .menus img {
        width: 420px;
    }
    .bloc_text {
        width: 50%;
        max-width: 600px;;
        height: 120px;
        margin-top: 75px;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    p {
        width: 100%;
    }
    h3 {
        font-size: 4.5em;
    }
    .line img {
        display: block;
    }
    main {
        margin: auto;
        width: 95%;
    }
    main h2 {
        display: block;
        margin: 50px 0 20px 0;
        font-size: 4em;
        font-weight: 500;
    }
    article {
        width: 100%;
        max-width: 1100px;
        margin: auto;
    }
    .mentions p{
        text-align: center;
        width: auto;
        margin: 0;
    }
    .menu_1 h3 {
        padding-top: 0;
    }
    section div {
        width: 80%;
        margin: auto;
        padding: 50px 0 0 0;
        line-height: 3;
    }
    .bloc_text h2 {
        font-size: 2.2em;
        margin: 0;
    }
    .bloc_animation {
        padding: 20px 0 0 0;
        line-height: 0;
        display: block;
    }
    .bloc_animation div {
        padding: 0;
    }
    .menu_title img{
        margin-top: 50px;
        width: 500px;
    }
    .title_menu {
        width: 95%;
        margin: auto;
    }
    .line img {
        width: 350px;
        height: 30px;
        margin: auto;
        overflow: hidden;
    }
    footer {
        margin-top: 50px;
        flex-direction: row;
    }
    .footer_left {
        margin-left: 40px;
    }
    .footer_right {
        margin-right: 40px;
    }
    footer h2 {
        font-size: 3em;
    }
}